body {
  padding : 1.25rem;
}

.App{
  margin: 0 auto;
  width: 22.5rem;
}

.App > section {
  padding: 1.25rem;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
}

